<h3>My Awesome Film Prints!</h3>
<%@films.each do |film|%>
    <p><ul><li><b><%=film.title%></b></li>
    <li>Genre: <%=film.genre%></li>
    <li>Gauge: <%=film.gauge%></li>
    <li>Condition: <%=film.condition%></li>
    <li>Reels: <%=film.reels%></li>
    <li>Length: <%=film.length%>'</li><br>  
    <form action="films/<%=film.id%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete!" style="color:red">
    </form>
<%end%>
</ul></p><br>

<p><a href="/">Home</a></p>